In [9]:
import pandas as pd

cc_rating_dict = [['btc', 10],
                  ['eth', 9],
                  ['ltc', 8],
                  ['xrp', 6],
                  ['neo', 7],
                  ['iota', 7],
                  ['omg', 6],
                  ['xmr', 5],
                  ['zec', 4],
                  ['strat', 2],
                  ['bat', 4],
                  ['cvc', 4],
                  ['smt', 4],
                  ['knc', 3],
                  ['sc', 2],
                  ['grc', 3],
                  ['qtum', 2],
                  ['eos', 5],
                  ['ver', 3],
                  ['tenx', 4]]
ccf = pd.DataFrame(cc_rating_dict)
ccf

        0   1
0     btc  10
1     eth   9
2     ltc   8
3     xrp   8
4     neo   7
5    iota   7
6     omg   6
7     xmr   5
8     zec   4
9   strat   2
10    bat   4
11    cvc   4
12    smt   4
13    knc   3
14     sc   2
15    grc   3
16   qtum   2
17    eos   5
18    ver   3
19   tenx   4

In [11]:
ccf.sort_values(by=[1])
ccf

        0   1
0     btc  10
1     eth   9
2     ltc   8
3     xrp   8
4     neo   7
5    iota   7
6     omg   6
7     xmr   5
8     zec   4
9   strat   2
10    bat   4
11    cvc   4
12    smt   4
13    knc   3
14     sc   2
15    grc   3
16   qtum   2
17    eos   5
18    ver   3
19   tenx   4

In [13]:
from functools import reduce
summed_ranks = reduce((lambda x, y: x + y), ccf[1])
summed_ranks

100